@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document 
regexp('http://dota2\\.gamepedia\\.com/(?!Dota_2_Wiki|Unreleased_content|January|February|March|April|May|June|July|August|September|October|November|December).*')
{
    body
    {
        background: #0A0A0A !important;
    }
    
    div.vectorTabs li.selected
    {
        background: #1C1C1C !important;
    }
    
    div.vectorTabs li
    {
        background: #0A0A0A !important;
    }
    
    div.vectorMenu
    {
        background-color: #0A0A0A !important;
    }
    
    div#mw-panel div.portal div.body ul li a
    {
       color: #0973BF !important;
    }
    
    div.vectorTabs li.selected a
    {
       color: #FAFAFA !important;
    }
    
    div[style="max-height:300px; overflow-y:scroll; overflow-x: auto; margin:3px 0; border:1px solid #888888; padding-left:0.5em; box-sizing:border-box; -moz-box-sizing:border-box; background-color: #EBF5FF; -moz-border-radius-topleft:0.5em;"]
    {
        background: #0A0A0A !important;
    }
    
    div[style="padding:0em 0.25em"], li.gallerybox div.thumb
    {
        background-color: #1C1C1C !important;
    }
    
    h1, h2, h3, h4, h5, h6, #mw-panel.collapsible-nav .portal h3 a
    {
        color: #FAFAFA;
    }
    
    a:link, a:visited
    {
       color: #0973BF;
    }
    
    div#content
    {
        background-color: #1C1C1C;
        color: #FAFAFA;
    }
    
    code
    {
        color: #FAFAFA;
        background-color: #1C1C1C;
    }
        
    .heronav-subtitle td
    {
        background-color: #1C1C1C;
        border: 3px solid #1C1C1C;
    }
    
    table
    {
        background-color: #1C1C1C;
        color: #FAFAFA;
    }
    
    .mp-content-table
    {
        background-color: #1C1C1C;
    }
    
    .catlinks
    {
        background-color: #1C1C1C;
    }
    
    td[valign]
    {
        background: #1C1C1C !important;
    }
    
    td[style], div#content p
    {
        border-left: 2px solid #1C1C1C !important;
        color: #FAFAFA !important;
    }
    
    table[class]
    {
        background: #1C1C1C !important;
    }
    
    tr[style]
    {
        background: #0A0A0A !important;
    }
    
    .navbox-subgroup .navbox-title
    {
        background-color: #1C1C1C;
    }
    
    #toc, .toc
    {
        background-color: #1C1C1C;
    }
    
    .navbox-even
    {
        background-color: #0A0A0A;
    }
    
    .navbox-list
    {
        background-color: #0A0A0A;
    }
    
    .navbox-group
    {
        background-color: #0A0A0A;
        color: #FAFAFA;
    }
    
    .navbox tr
    {
        background-color: #FAFAFA;
    }
    
    table.wikitable
    {
        color: #FAFAFA;
    }
    
    table.wikitable .header, .navbox-title, table.navbox th, .navbox-group
    {
        background: #B44335 !important;
        color: #FAFAFA !important;
    }
    
    #searchInput, div#simpleSearch
    {
        background: #1C1C1C !important;
        color: #FAFAFA !important;
    }
    
    .suggestions-result, .special-label, .suggestions-special, .special-query
    {
        background: #0A0A0A !important;
        color: #FAFAFA !important;
    }
    
    div.biobox
    {
        background: #1C1C1C !important;
    }
    
    div.vectorMenu ul
    {
        background: #1C1C1C;
    }
    
    table.wikitable > * > tr > th, .oddrowsgray tr:nth-child(2n+1)
    {
        background: #0A0A0A;
    }
    
    span[style="color:white; background:#FF99CC"]
    {
        background: #B44335 !important;
        color: #FAFAFA !important;
    }
}

@-moz-document 
url-prefix("http://dota2.gamepedia.com/Dota_2_Wiki"),
url("http://dota2.gamepedia.com/")
{
    body
    {
        background: #0A0A0A !important;
    }
    
    a:link, a:visited, div#mw-panel div.portal div.body ul li a
    {
       color: #0973BF !important;
    }
    
    tr[style="font-size:9pt; background-color: #F0F5FF;"], tr[style="font-size:9pt; background-color: #FCFCFC;"]
    {
        background: #0A0A0A !important;
        color: #FAFAFA !important;
    }
    
    tr[style="font-size:9pt; background-color: #FFF3B2;"]
    {
        background: #0A0A0A !important;
    }
    
    td[style="border-bottom: 1px solid #CCCCCC; text-align:center; color: #660000;"], td[style="border-bottom: 1px solid #CCCCCC; text-align:center; color: #660000; font-size: 110%;"], td[style="border-bottom: 1px solid #660000; font-size: 10pt; text-align:center; color: #660000; font-size: 110%;"]
    {
        background: #B44335 !important;
        color: #FAFAFA !important;
    }
    
    table[id="mf-match-calendar"], table[cellpadding="10"]
    {
        background: #0A0A0A !important;
        border-color: #B44335 !important;
    }
    
    td[style="padding-left: 50px; text-align: center; color: rgb(102, 0, 0);"], span[style="color: #660000;"]
    {
        color: #FAFAFA !important;
    }
    
    span[style="color: #313131"]
    {
        color: #FAFAFA !important;
    }
    
    h1, h2, h3, h4, h5, h6
    {
        color: #FAFAFA !important;
    }
    
    code, div.vectorTabs li.selected
    {
        background: #1C1C1C !important;
    }
    
    div.vectorTabs li
    {
        background: #0A0A0A !important;
    }
    
    div.vectorMenu
    {
        background-color: #0A0A0A !important;
    }
    
    div#content
    {
        background-color: #1C1C1C;
        color: #FAFAFA;
    }
        
    .heronav-subtitle td
    {
        background-color: #1C1C1C;
        border: 3px solid #1C1C1C;
    }
    
    table
    {
        background-color: #1C1C1C;
        color: #FAFAFA;
    }
    
    .mp-content-table
    {
        background-color: #1C1C1C;
    }
    
    .catlinks
    {
        background-color: #1C1C1C;
    }
    
    td[valign]
    {
        background: #1C1C1C !important;
    }
    
    td[style]
    {
        border-left: 2px solid #1C1C1C !important;
    }
    
    #mf-match-calendar #upcoming_matches tr:nth-child(2n+1) td
    {
        background: #1C1C1C;
        color: #FAFAFA;
    }
    
    table.wikitable
    {
        color: #FAFAFA !important;
    }
    
    div.vectorMenu ul
    {
        background: #1C1C1C;
    }
    
    table[class]
    {
        background: #1C1C1C !important;
    }
    
    .navbox-subgroup .navbox-title
    {
        background-color: #1C1C1C;
    }
    
    #toc, .toc
    {
        background-color: #1C1C1C;
    }
    
    footer#footer
    {
        top: 60px;
    }
    
    div#footer #footer-info li
    {
        position: relative;
        top: 95px;
    }
    
    #searchInput, div#simpleSearch
    {
        background: #1C1C1C !important;
        color: #FAFAFA !important;
    }
    
    .suggestions-result, .special-label, .suggestions-special, .special-query
    {
        background: #0A0A0A !important;
        color: #FAFAFA !important;
    }
}

@-moz-document 
    url-prefix("http://dota2.gamepedia.com/Unreleased_content")
{
        body
    {
        background: #0A0A0A !important;
    }
    
    div.vectorTabs li.selected
    {
        background: #1C1C1C !important;
    }
    
    div.vectorTabs li
    {
        background: #0A0A0A !important;
    }
    
    div.vectorMenu
    {
        background-color: #0A0A0A !important;
    }
    
    div#mw-panel div.portal div.body ul li a
    {
       color: #0973BF !important;
    }
    
    div.vectorTabs li.selected a
    {
       color: #FAFAFA !important;
    }
    
    div#content
    {
        background-color: #1C1C1C;
        color: #FAFAFA;
    }
    
    h1, h2, h3, h4, h5, h6
    {
        color: #FAFAFA;
    }
    
    a:link, a:visited
    {
       color: #0973BF;
    }
    
    #toc, .toc
    {
        background-color: #1C1C1C;
    }
    
    table.wikitable
    {
        background: #1C1C1C;
        color: #FAFAFA;
    }
    
    table.wikitable > * > tr > th
    {
        background: #1C1C1C;
    }
    
    table.wikitable .header
    {
        background: #B44335;
        color: #FAFAFA;
    }
    
    tr[style]
    {
        background: #1C1C1C !important;
    }
    
    .catlinks
    {
        background: #0A0A0A;
    }
    
    #searchInput, div#simpleSearch
    {
        background: #1C1C1C !important;
        color: #FAFAFA !important;
    }
    
    .suggestions-result, .special-label, .suggestions-special, .special-query
    {
        background: #0A0A0A !important;
        color: #FAFAFA !important;
    }
    
    div.vectorMenu ul
    {
        background: #1C1C1C;
    }
}

@-moz-document 
    url-prefix("http://dota2.gamepedia.com/January"),
    url-prefix("http://dota2.gamepedia.com/February"),
    url-prefix("http://dota2.gamepedia.com/March"),
    url-prefix("http://dota2.gamepedia.com/April"),
    url-prefix("http://dota2.gamepedia.com/May"),
    url-prefix("http://dota2.gamepedia.com/June"),
    url-prefix("http://dota2.gamepedia.com/July"),
    url-prefix("http://dota2.gamepedia.com/August"),
    url-prefix("http://dota2.gamepedia.com/September"),
    url-prefix("http://dota2.gamepedia.com/October"),
    url-prefix("http://dota2.gamepedia.com/November"),
    url-prefix("http://dota2.gamepedia.com/December")
{
        body
    {
        background: #0A0A0A !important;
    }
    
    div.vectorTabs li.selected
    {
        background: #1C1C1C !important;
    }
    
    div.vectorTabs li
    {
        background: #0A0A0A !important;
    }
    
    div.vectorMenu
    {
        background-color: #0A0A0A !important;
    }
    
    div#mw-panel div.portal div.body ul li a
    {
       color: #0973BF !important;
    }
    
    div.vectorTabs li.selected a
    {
       color: #FAFAFA !important;
    }
    
    div[style]
    {
        background-color: #1C1C1C !important;
    }
    
    h1, h2, h3, h4, h5, h6
    {
        color: #FAFAFA;
    }
    
    a:link, a:visited
    {
       color: #0973BF;
    }
    
    div#content
    {
        background-color: #1C1C1C;
        color: #FAFAFA;
    }
    
    code
    {
        color: #FAFAFA;
        background-color: #1C1C1C;
    }
        
    .heronav-subtitle td
    {
        background-color: #1C1C1C;
        border: 3px solid #1C1C1C;
    }
    
    table
    {
        background-color: #1C1C1C;
        color: #FAFAFA;
    }
    
    .mp-content-table
    {
        background-color: #1C1C1C;
    }
    
    .catlinks
    {
        background-color: #1C1C1C;
    }
    
    td[valign]
    {
        background: #1C1C1C !important;
    }
    
    td[style], div#content p
    {
        color: #FAFAFA !important;
        background: #1C1C1C !important;
    }
    
    table[class]
    {
        background: #1C1C1C !important;
    }
    
    tr[style]
    {
        background: #0A0A0A !important;
    }
    
    .navbox-subgroup .navbox-title
    {
        background-color: #1C1C1C;
    }
    
    #toc, .toc
    {
        background-color: #1C1C1C;
    }
    
    .navbox-even
    {
        background-color: #0A0A0A;
    }
    
    .navbox-list
    {
        background-color: #0A0A0A;
    }
    
    .navbox-group
    {
        background-color: #0A0A0A;
        color: #FAFAFA;
    }
    
    .navbox tr
    {
        background-color: #FAFAFA;
    }
    
    table.wikitable
    {
        color: #FAFAFA;
    }
    
    table.wikitable .header, .navbox-title, table.navbox th, .navbox-group
    {
        background: #B44335 !important;
        color: #FAFAFA !important;
    }
    
    #searchInput, div#simpleSearch
    {
        background: #1C1C1C !important;
        color: #FAFAFA !important;
    }
    
    .suggestions-result, .special-label, .suggestions-special, .special-query
    {
        background: #0A0A0A !important;
        color: #FAFAFA !important;
    }
    
    div.biobox
    {
        background: #1C1C1C !important;
    }
    
    div.vectorMenu ul
    {
        background: #1C1C1C;
    }
    
    table.wikitable > * > tr > th
    {
        background: #0A0A0A;
    }
}