@-moz-document
url-prefix("https://xkcd.com/"),
url-prefix("http://xkcd.com/")
{
  body
  {
    background: #161616 !important;
  }
  
  img
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
  
  .box
  {
    background: #000 !important;
  }
  
  #topLeft a
  {
    color: #CCCCCC !important;
  }
  
  ul.comicNav li a
  {
    background: transparent linear-gradient(#3C3C3C, #2E2E2E) repeat scroll 0% 0% !important;
  }
}

@-moz-document
url-prefix("https://imgs.xkcd.com/"),
url-prefix("http://imgs.xkcd.com/")
{
  img
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}