@-moz-document
url("http://starbowmod.com/"),
url-prefix("http://starbowmod.com/about/"),
url("http://starbowmod.com/user/register"),
url-prefix("http://starbowmod.com/events"),
url-prefix("http://starbowmod.com/ladder/"),
url-prefix("http://starbowmod.com/news"),
url-prefix("http://starbowmod.com/user/home")
{
  body
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  h1, h2, h3, h4, h5, h6, .article h1 a
  {
    color: #E20003;
  }
  
  .column a
  {
    color: #E20003;
  }
  
  .ladder-mini tbody tr:hover
  {
    background: #530E0E;
    color: #FAFAFA;
  }
  
  .ladder-mini tbody tr
  {
    background: #0A0A0A;
    color: #FAFAFA;
    border-color: white;
  }
  
  .ladder-mini tbody tr a, .paging_full_numbers a.paginate_button
  {
    color: #FAFAFA;
  }
  
  input:focus
  {
    color: #FAFAFA;
    background: #0A0A0A;
  }
}

@-moz-document
url-prefix("http://starbowmod.com/forum/")
{
  body, #container
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  table
  {
    color: #FAFAFA;
  }
  
  .navigation .active, .menu ul a:link, .menu ul a, .menu ul a:visited
  {
    color: #E20003;
  }
  
  .menu ul a:hover, .menu ul a:active
  {
    color: #E20003;
    text-decoration-line: underline;
  }
  
  .trow1, .trow2, .bottommenu, .messageEditor
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  select, input.textbox, .pagination .pagination_current, .pagination a:hover
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  blockquote
  {
    background: #1C1C1C;
  }
  
  .trow_sep
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  .reputation_neutral
  {
    color: #999;
  }
  
  a:hover, a:active
  {
    color: #026CB1;
    text-decoration-line: underline;
  }
  
  textarea
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  #panel
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  .editor_control_bar, .pm_alert, .messageEditor .toolbar_normal, .messageEditor .editor_dropdown_menu li.editor_dropdown_menu_item_over, .messageEditor .editor_dropdown_menu_title, .messageEditor .toolbar_button_color .editor_dropdown_menu
  {
    background: #0A0A0A;
  }
  
  .messageEditor .toolbar_dropdown .editor_dropdown_label
  {
    background: #0A0A0A;
    color: #CCCCCC;
  }
  
  .messageEditor .editor_dropdown_menu
  {
    background: #1C1C1C;
  }
  
  .messageEditor .toolbar_sprite
  {
    filter: invert(100%);
  }
}

@-moz-document
url-prefix("http://eros.starbowmod.com/")
{
  body
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  #main-content, #notification-settings
  {
    background: #0A0A0A;
  }
  
  [eros-chat]
  {
    background: #0A0A0A;
  }
  
  [eros-chat] #chat-content #chat-input input
  {
    background: #1C1C1C;
  }
  
  [eros-chat] #chat-right-nav
  {
    background: #1C1C1C;
  }
  
  [eros-chat] .room-user:hover
  {
    background: #560D0D;
  }
  
  .modal-content
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  #vetoesDialog .veto-box .map-img
  {
    background-color: #1C1C1C;
  }
  
  [conn-growl] .conn-growl
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

@-moz-document
url-prefix("http://starbow.wikia.com/wiki/")
{
  body, .WikiHeader > nav li > a, .RelatedPagesModule .articleSnippet, .SpeechBubble .permalink, .AccountNavigation .sign-in-label
  {
    color: #FAFAFA;
  }
  
  body.skin-oasis, .article-table th, .WikiaTable th, .WikiaArticle .toc
  {
    background-color: #0A0A0A;
  }
  
  .WikiaPage .WikiaPageBackground
  {
    background-color: #1C1C1C;
  }
  
  a, a:hover, a:active, .global-footer ul li a, .WikiaActivityModule .edited-by a
  {
    color: #E20003;
  }
  
  .page-share-toolbar svg 
  {
    fill: #E20003;
  }
  
  img
  {
    background-color: #0A0A0A;
    border: solid white 1px;
  }
  
  .article-table, .WikiaTable, .SpeechBubble .speech-bubble-message, .WikiaArticleComments .MiniEditorWrapper .editarea textarea, .WikiaRail .module, .WikiaArticle div.gallerybox div.thumb, .WikiaArticle li.gallerybox div.thumb
  {
    background: #0A0A0A;
    color: #FAFAFA;
    border: solid white 1px;
  }
  
  .cke_skin_wikia .cke_contents iframe, #bodyContent, .WikiaArticle p
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  .global-navigation, .global-navigation.inverse
  {
    background: #0A0A0A;
    border-bottom: solid white 1px;
  }
  
  .wikia-logo img
  {
    border: none !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20217.8%2060%22%20enable-background%3D%22new%200%200%20217.8%2060%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M100.6%2C58.8V0h13.2v33l3.5-4.4l7.4-8.8h18.9L128%2C35.2l16.5%2C23.7h-17.2l-9-14.9l-4.6%2C4.3v10.5H100.6z%20M51.8%2C20.1l-5%2C26.4l-6.4-26.4h-6h-0.3h-2.7h-0.3h-6l-6.4%2C26.4l-5-26.4H0l10.1%2C38.8h17.7l5-20.4l5%2C20.4h17.7l10.1-38.8H51.8z%20M217.1%2C47.5l0.7%2C11.3h-12.1l-0.9-4.2c-2.8%2C2.9-6.2%2C5.4-12.3%2C5.4c-11%2C0-17-7.1-17-20.6c0-13.5%2C6-20.6%2C17-20.6c6.1%2C0%2C9.5%2C2.4%2C12.3%2C5.4l0.9-4.2h12.1l-0.7%2C11.3V47.5z%20M203.9%2C34.4c-1.7-2.2-4.3-3.7-7.8-3.7c-4%2C0-7.1%2C2.6-7.1%2C8.7c0%2C6.1%2C3.2%2C8.7%2C7.1%2C8.7c3.5%2C0%2C6.1-1.5%2C7.8-3.7V34.4zM79.8%2C0.2c-4.2%2C0-7.6%2C3.4-7.6%2C7.6c0%2C4.2%2C3.4%2C7.6%2C7.6%2C7.6c4.2%2C0%2C7.6-3.4%2C7.6-7.6C87.4%2C3.6%2C84%2C0.2%2C79.8%2C0.2%20M91.2%2C27.8v-8.3h-5.7H72.2v13.4v12.5v13.1v0.3h19v-8.2h-5.9V27.8H91.2z%20M153.7%2C7.8c0%2C4.2%2C3.4%2C7.6%2C7.6%2C7.6c4.2%2C0%2C7.6-3.4%2C7.6-7.6c0-4.2-3.4-7.6-7.6-7.6C157.1%2C0.2%2C153.7%2C3.6%2C153.7%2C7.8%20M155.8%2C27.8v22.8h-5.9v8.2h19v-0.3V45.4V32.9V19.5h-13.2h-5.7v8.3H155.8z%22%20fill%3D%22%23fff%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  }
  
  .AccountNavigation .account-navigation-first-item .avatar-container.anon-avatar-placeholder
  {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2018%2019%22%20style%3D%22enable-background%3Anew%200%200%2018%2019%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3Argb%28255%2C255%2C255%29%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M11.2%2C12.6c0.8-0.8%2C1.4-2.1%2C2-3.6c0.4-0.9%2C0.4-4.7%2C0.2-5.4c-0.7-2.3-2.4-3-4.4-3c0%2C0%2C0%2C0%2C0%2C0s0%2C0%2C0%2C0c-2%2C0-3.7%2C0.6-4.4%2C3C4.4%2C4.3%2C4.5%2C8.1%2C4.8%2C9c0.6%2C1.5%2C1.2%2C2.8%2C2%2C3.6c-3%2C0.5-6.1%2C2.9-6.1%2C2.9v2.8l8.3%2C0l8.3%2C0v-2.8C17.3%2C15.5%2C14.2%2C13.1%2C11.2%2C12.6z%22%2F%3E%3C%2Fsvg%3E");
  }
  
  .global-navigation .start-wikia-container .start-wikia
  {
    border-color: #FAFAFA;
    color: #FAFAFA;
  }
  
  .global-nav-search-input-wrapper .search-input 
  {
    background-color: #1C1C1C;
    color: #FAFAFA;
  }
  
  .global-nav-search-input-wrapper .search-input ~ .search-button:hover
  {
    border: solid white 1px;
  }
  
  .global-nav-search-input-wrapper .search-input ~ .search-button
  {
    background-color: #092140;
  }
}