/*
This theme is designed and maintained by DeathTBO


I noticed you are looking at the source code. You probably want to change or fix something. If you ever need help then please message me by posting in the discussion section here: https://userstyles.org/styles/112421/dark-fusion-google
I will be glad to help.
*/

@-moz-document
regexp("(https|http)://(www|translate|play|drive|books|plus|docs|accounts|images|news|encrypted).google\\.(com|([a-z]{2})).*") /*Global*/
{
  /*Username*/
  #gb#gb a.gb_P, #gb#gb span.gb_P
  {
    color: #A9b7C6 !important;
  }

  /*Icons*/
  .gb_3b
  {
    border-radius: 0% !important;
    height: 23px !important;
    width: 23px !important;
  }

  .gb_3b
  {
    background: url("https://ssl.gstatic.com/gb/images/i1_0430b5ba.png") -396px -6px !important;
    background-color: transparent;
    opacity: 0.75;
  }

  .gb_ca .gb_b
  {
    background: url("https://ssl.gstatic.com/gb/images/i1_0430b5ba.png") 593px 33px !important;
    opacity: 0.75;
  }

  .gb_Vb.gb_Zb:hover, .gb_ca .gb_b:hover
  {
    opacity: 1;
  }

  /*Chrome History Preview*/
  .thumb-ntp .mv-tile, .thumb-ntp .mv-empty-tile
  {
    background: transparent linear-gradient(#3C3C3C, #2E2E2E) repeat scroll 0% 0% !important;
    color: #A9b7C6 !important;
    border: solid black 1px;
  }

  /*Google Bars*/

  .gb_6b > .gb_r
  {
    background: #161616 !important;
    border-bottom: solid black 2px !important;
    box-shadow: 0px 1px 1px #0A0A0A !important;
  }

  #hdtbSum, #gt-appbar, #hdtb, #maia-header
  {
    background: #1F1F1F !important;
    border-bottom-color: #505050 !important;
  }

  #appbar, #hdtbMenus, #corp-crumb, #maia-nav-x
  {
    background: #232323 !important;
    border-bottom: solid 1px rgba(255,255,255,.2) !important;
  }

  /* add gradient and 3d effect */
  .sfbgg {
    background: #2e3032 !important;
    border-bottom: solid 1px #1e1f21 !important;
    background-image: linear-gradient(to bottom, #404041, #373839) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#404041), to(#373839));
    box-shadow: 0 1px 1px rgba(10,10,10,.01) !important;
  }
  #hdtbSum {
    background: #3C3F41 !important;
    border-bottom: solid 1px #1e1f21 !important;
  }
  #appbar {
    background-image: linear-gradient(to bottom, #3B3C3D, #404041) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#3B3C3D), to(#404041));
    box-shadow:0 -30px 15px -19px rgba(46,47,48,.6) inset;
    border-top: solid 1px #4E4E4E !important;
    border-bottom: solid 1px #4E4E4E !important;
  }
  #extabar {
    border-bottom: solid 1px #292B2D !important;
  }
  /* --- */

  .gb_Dd.gb_Dd .gb_L
  {
    background: linear-gradient(#3A3A3A, #303030) !important;
  }

  .gb_L span
  {
    opacity: 1;
    background: inherit;
  }

  .jhp > #gb
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
    color: #A9b7C6 !important;
    border: solid #0A0A0A 1px !important;
    top: -311px;
    height: 30px;
  }

  /*Chome*/
  #mngb
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
    color: #A9b7C6 !important;
    border: solid #0A0A0A 1px !important;
    top: 0px !important;
  }

  /*Google Translate and Google Books*/
  .gb_Dd > .gb_R
  {
    background: #161616 !important;
    border-bottom: black solid 2px !important;
  }

  /*Google Plus*/
  .gb_yd .gb_Hc
  {
    background: #161616 !important;
    border-bottom: black solid 2px !important;
  }

  /*Google News*/
  .gb_Hc, .gb_Hc > .gb_M
  {
    background: #161616 !important;
    border-bottom: black solid 2px !important;
  }

  /*Google Docs*/
  .gb_je .gb_qd
  {
    background: #161616 !important;
    border-bottom: black solid 2px !important;
  }

  /*Google Drive*/
  .gb_9d .gb_hd
  {
    background: #161616 !important;
    border-bottom: black solid 2px !important;
  }

  /*Google Patents*/
  #leftHeader.search-ui, #mainHeader.search-ui, th
  {
    background: #161616 !important;
    border-bottom: black solid 2px !important;
  }

  /*Google Accounts*/
  .gb_pd, .google-header-bar
  {
    background: #161616 !important;
    border-bottom: black solid 2px !important;
  }

  iron-icon
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    color: #000000 !important;
  }

  /* highlight search result with green bg */
  div#search div.g em {
    background-color: rgba(21,82,33,.7);
    font-weight: normal !important;
  }

  /* hide login button and other stuff */
  .gb_Ta {
    display: none !important;
  }

  /* search button becomes navy color */
  #sblsbb {
    display: none !important;
    margin: 1px;
    height: 38px;
    background-color: #151c2a;
    border-radius: 3px;

    box-shadow:
    0 37px 13px -15px rgba(74, 100, 145, 0.5) inset, /*top gradient */
    0 -30px 15px -15px rgba(32, 41, 63, 0.5) inset,  /*bottom gradient*/
    0 -30px 15px -19px rgba(32, 41, 63, 0.9) inset;  /*very dark bottom gradient*/

    /* animation */
    -webkit-transition: background-color .3s ease-out;
    -moz-transition: background-color .3s ease-out;
    -ms-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;

    cursor: pointer !important;

  }
  #sblsbb:focus, #sblsbb:hover {
    background-color: #5376a9;
  }

  /* hide adwords */
  ._Ak {
    display: none !important;
  }

}

@-moz-document
regexp("(https|http)://(www|encrypted|edutrainingcenter|books|analyticsacademy|translate|play|drive|plus|docs|accounts|images|news|encrypted).(google|withgoogle)\\.(com|([a-z]{2})).*") /*Backgrounds*/
{
  body, #rcnt, .exports-controller, .mw, .lob .pBa .wja, div.bottom-wrapper, .docs-homescreen-homescreenmain, #grid-cont, .Jvazdb
  {
    font-family: sans-serif !important;
    background: #2B2B2B !important;
    background-size: cover !important;
    color: #A9B7C6 !important;
  }
}

@-moz-document
regexp("(https|http)://(www|encrypted|news|accounts|images|books|appengine|translate)\\.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/(?!mobile|shopping|calendar|advanced_search|maps).*")
{
  html
  {
    background-color: transparent !important;
  }

  .footerInner
  {
    background-color: transparent !important;
    border-top: none !important;
  }

  .ac-renderer
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
  }

  .jfk-textinput
  {
    background: #3C3C3C !important;
  }

  .gsc_b
  {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAEAgMAAADKVkZeAAAADFBMVEX+qZf+//z/QRj/1subBbuLAAAABHRSTlNoA+c0f8yWsQAAABhJREFUeF5jiAm/wFAltIHhcbcCQ6uuAwAtKAVAiIswQgAAAABJRU5ErkJggg==") !important;
  }

  /*App Menu*/
  .gb_ia, .gb_4
  {
    background: #161616 !important;
  }

  .gb_T:hover .gb_Z
  {
    background: #161616 !important;
  }

  .gb_fa
  {
    background: #1F1F1F !important;
    border-top: solid white 1px;
  }

  /*Account Dropdown*/
  .gb_ga, .gb_9a
  {
    background: #161616 !important;
  }

  .gb_9a:hover
  {
    background: #0A0A0A !important;
  }

  #gb a.gb_xa.gb_xa
  {
    background: #0A0A0A !important;
  }

  div[class^="gb_k"]
  {
    color: #A9b7C6 !important;
  }

  div[class^="gb_l"], div[class^="gb_8"]
  {
    color: #CCCCCC !important;
  }

  div[class^="gb_a"]
  {
    background: #161616 !important;
  }

  a[class^="gb_f"]
  {
    background: #232323 !important;
  }

  ul[class^="gb_"]
  {
    background: #161616 !important;
  }

  /*Account Bar*/

  .gb_db
  {
    background: #1F1F1F !important;
  }

  .gb_db:hover
  {
    background: #0A0A0A !important;
  }

  .gb_Ea, .gb_8a
  {
    background: #161616 !important;
    border-top: solid white 1px;
  }

  .gb_Ea
  {
    background: #161616 !important;
    border-top: solid white 1px;
  }

  .gb_Qa
  {
    color: #A9b7C6 !important;
  }

  .gb_Da, .gb_Ra
  {
    color: #CCCCCC !important;
  }

  .gb_7, .gb_Aa
  {
    background: #1F1F1F !important;
  }

  .gb_7:hover
  {
    background: #0A0A0A !important;
  }

  /*Everything Else*/

  #header_logo
  {
    background-color: transparent !important;
  }

  ._WIf, ._R8d, ._oAe
  {
    color: #A9b7C6 !important;
  }

  #foot #navcnt .cur
  {
    color: #A9b7C6 !important;
    font-weight: bold !important;
  }

  #footer a, a.fl:link, .gbqfba:hover, .gbqfba, #resultStats, #hdtb .hdtb-mitem a:hover, .hdtb-mn-hd:hover, .hdtbItm.hdtbSel, a.ab_dropdownlnk:hover, .f, .f a:link, .s .st em, .rl_item .title, ._Lbe, .kno-ecr-pt, ._Wmc, .tw-lang-selector:hover, .gt-baf-word-clickable, .gt-baf-hl, #source, #result_box, .gt-card-ttl-txt, .goog-menuitem-highlight .goog-menuitem-content, .goog-option-selected .goog-menuitem-content, .gt-syn-span, .price, .shop__secondary:link, .shop__secondary:visited, ._wPd, .appbar-snippet-primary, #app h3, .news .src, .news-item .source, .st.s.std em, .crl:hover, .sect, .goog-slider li, ._Adb, ._pk, .lr-fy-eq, .lr-fy-ovde, .lr-fy-ns, .gb_R, .cwtltbl, .act-tim-txt-cnt, .accountchooser-card ol li button span.account-email, .accountchooser-card ol li .remove-entry span.account-email, a.fl:visited, ._wD ._Xbe, ._eF, .vk_gy, .vk_bk, .knowledge-webanswers_table__webanswers-table th, ._rl, ._tvg, .tw-ta, ._gNh, ._Tsf, ._tXe, ._Nze, ._jEe ._baf b, ._wje, ._aaf ._N9d, ._QJe ._N9d, ._PJe ._N9d, ._aaf td, .paper-checkbox-0 #checkboxLabel.paper-checkbox, #mainContainer.search-result, dt, .JX0GPIC-o-t, .JX0GPIC-o-L, .access-helper-title, .gb_ib, .bld, ._Ei, ._zee, ._Xvg, ._kh, ._i2g, #as-home-hero-1 p, #as-home-hero-1 ul li h2, #as-home-pslots h3, .devsite-landing-row h2, h1, h2, #pp-wrapper strong, #maia-footer h3, #maia-footer, h3.super, strong, #how-it-protects .img-wrap-1 span
  {
    color: #A9b7C6 !important;
  }
  #lst-ib {
    background-color: #45494A !important;
    color: #A9b7C6 !important;
  }
  a:link, #hdtb .hdtb-mitem a, #hdtb-msb #hdtb-more, #hdtb-msb #hdtb-tls, .hdtb-mn-hd, #hdtb .hdtbItm a, .sbpqs_a, .rg_bb_label, #pplict .r .ict, ._Ajf, ._Bjf, ._mMg, ._zjf, ._Jjg, ._W5e, ._cnc, .tw-lang-selector, .gt-def-row, .goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem, .gt-ex-text, ._Lqc, .shop__secondary, .sr__link, .sr__link:link, .sr__link:visited, .lc-loc-text, .gko-rs-bt, .gko-ctrl, .gko-ctrl:link, .gko-ctrl:visited, .gbqfif, .gbqfsf, .chart-dis, .sllabel, .tw-data-text, .gb_S, .gb_E, .cwletbl, .crl, ._Tib, div#corp-crumb p, div#corp-crumb ol, ._LJf, ._R7b, ._aMb, ._Db ._tf, td[valign], ._jEe ._baf, .knowledge-health__overview-teaser ._Hsf, .knowledge-health__overview-full ._Hsf, .abstract.search-result-item, th, .claim-dependent.patent-text, .JX0GPIC-o-w, .JX0GPIC-o-r, .gb_jb, .gb_7a, .key, .mdata-dis, .ac, ._ree, #as-home-hero-1 ul li, #pp-wrapper, #pp-header
  {
    color: #CCCCCC !important;
  }

  #pp-wrapper a.highlight
  {
    background: #000000 !important;
    color: #A9b7C6 !important;
  }

  .highlight-off, a.highlight-off
  {
    background: #1F1F1F !important;
    color: #CCCCCC !important;
  }

  ._gee .fl, ._xdb .fl, #gt-feedback
  {
    color: #CCCCCC !important;
  }

  .s, a:visited, .rl_feature .kxbcl, ._bnc, .gt-rw-span, ._Axb, .sr__title, .stt__tool, .unchanged, .chb, ._Tfc, ._gdf, ._Mnc, ._pl
  {
    color: #999999 !important;
  }

  ._tX, .act-btn, ._o3g
  {
    color: #287BDE !important;
  }

  a:hover
  {
    color: #A9b7C6 !important;
    /*transition: color 0.2s linear 0s;*/
  }

  /*This value is inverted*/
  p.gf-chart-ticker, .add_comparison_prompt, .chart-dis
  {
    color: #0A0A0A !important;
  }

  /*Weather Overrides For Chrome*/
  span[class^="vk_"], div[class^="vk_"], span[id^="vk_"], div[id^="vk_"], span[class^="wob_"], div[class^="wob_"], span[id^="wob_"], div[id^="wob_"]
  {
    color: #A9b7C6 !important;
  }

  .w
  {
    color: #E7711B !important;
  }

  a.ab_button, a.ab_button:visited, #gt-langs .jfk-button-standard
  {
    color: #A9b7C6 !important;
  }

  cite, ._IId
  {
    color: #287BDE !important;
  }

  #wflyr, #flyr
  {
    background: none !important;
  }

  #cnt, #gt-text-c, #gt-apb-main, .devsite-landing-row-grey
  {
    background: transparent !important;
  }

  div[wflyr], div[flyr-w]
  {
    display: none !important;
  }

  ._xe, ._vx
  {
    background: #1F1F1F !important;
  }

  ._ae:hover
  {
    background: #0A0A0A !important;
  }

  ._ae.rlf__ami
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    color: #0A0A0A !important;
  }

  ._ae.rlf__ami:hover
  {
    background: #A9b7C6 !important;
  }

  ._Rf:hover, ._Rf.rlf__open
  {
    color: #A9b7C6 !important;
  }

  .sbsb_d, .sbsb_b
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
  }

  ._eB, ._Ohf
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
    color: #A9b7C6 !important;
  }

  .sbdd_b
  {
    border: none !important;
  }

  .cwlgb-tpl, .cwdgb-tpl, .cwrb-tpl, .cwdb-tpl
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
    color: #A9b7C6 !important;
  }

  .hdtb-mn-o, .hdtbItm, #cdrlnk, .action-menu-item, .ab_dropdown, .rg_fbl:hover, .rg_fbl, #hdtb.notl li, #hdtb-more-mn a:hover, .goog-menuitem-emphasize-highlight, .gko-rs-m, .kp-blk, #gb a.gb_a.gb_a, .cwtlwm, ._yX, #rhs ._CC, #cc-table tr.hilite td, .gf-table-hover-hilite td, .gf-table-hilite td, ._oc, .goog-menu, .jfk-bubble, .gweb-tabset-contents, #fsett
  {
    background: #1F1F1F !important;
  }

  .cwdrsba
  {
    background-color: #1F1F1F;
  }

  .hdtbItm a:hover, #cdrlnk:hover, .action-menu-item:hover, .ab_dropdown.selected, ._she_CC, div.rl_feature, .rlc__slider, .rl_item:hover, .rl_item, .rlc__slider-page, .goog-menuitem-highlight, #gt-tl-gms-menu .goog-menuitem-group .goog-option-selected, li.fjfe-nav-selected, li.fjfe-nav-selected:hover, .gf-table th, ._wD:hover, #gb a.gb_a.gb_a:hover, community-app #gettingStarted, ._she, ._Vi, .ts ._Vi, #verify .instructions, .gf-table-hover-hilite td, ._Dw:hover, .gweb-tabset-x .gweb-tabset-nav ul
  {
    background: #0A0A0A !important;
  }

  ._uS, .tabs .tab.selected, ._oc ._Sb
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  .vk_c, #contribute-target, .gb_F, div[style="background-color:white"], #maia-footer-local, #pb-tb-c
  {
    background: #161616 !important;
  }

  #gt-res-wrap, #gt-src-p, #gt-lang-left #gt-swap, #gt-ft-res
  {
    background: #1D1D1D !important;
  }

  #topstuff .pswtr, .goog-tab-selected a.t b.t
  {
    background: transparent !important;
    color: #A9b7C6 !important;
  }

  .stt__tool .ksb, .stt__tool .goog-flat-menu-button, .goog-flat-menu-button.goog-flat-menu-button-hover, .gko-rs-s, .gko-rs-mi, .ksb, li.fjfe-nav-item a, .gb_Wa, .gb_L, .goog-toolbar-menu-button
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .gko-rs-sl:hover, .gko-rs-mi:hover, .ksb:hover, li.fjfe-nav-item a:hover, .fjfe-recentquotes h4, .fjfe-recentquotes, .del-btn-wrapper, .news-item, .rss-item, .gf-control, .gb_L:hover, .goog-toolbar-menu-button:hover
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  #gt-src-tools, #gt-res-tools, community-privacy-card #save, #pb-tool
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
  }

  .hdtbItm.hdtbSel:hover, .hdtbItm.hdtbSel
  {
    background: #1F1F1F !important;
    border-bottom: solid white 1px !important;
  }

  #hdtb-tls:hover, #hdtb-msb .hdtb-tl-sel, #hdtb-msb .hdtb-tl-sel:hover
  {
    background: transparent !important;
    border: none !important;
  }

  #gt-lang-left #gt-swap , .goog-toolbar-button-hover, .ita-kd-inputtools-div
  {
    background: none !important;
    border: none !important;
  }

  .goog-flat-menu-button, .goog-flat-menu-button:hover, .goog-flat-menu-button:focus, .goog-menu, .act-tim-fs-cnt:-moz-full-screen, .gb_ub, community-dialog #main > #content
  {
    background: #1F1F1F !important;
  }

  .gb_eb:hover .gb_jb, #maia-footer
  {
    border-top: solid white 1px;
    background: #1F1F1F !important;
  }

  .clear-button .jfk-button-img, #gt-src-listen, #gt-src-roman, .ita-kd-icon-button, #gt-res-select, #gt-res-undo, #gt-res-rate, #gt-pb-star , #gt-res-edit, .kcb.checked, .gko-add .gko-add-i, #lr-fy-svg, .act-tim-fullscreen-lbl img, .act-tim-cancel-fullscreen-lbl img, .act-tim-mute-lbl img, .act-tim-unmute-lbl img, ._Bs, .mn-dwn-arw, ._QYd, ._M9b a, ._Zgf, .gsri_a, #qbi, ._Fnc, .trans-swap-button .jfk-button-img, .pb-sw .jfk-button-img, #chart-section, .trans-listen-button .jfk-button-img, .share-button .jfk-button-img, .devsite-footer-linkbox-icon, .jfk-bubble-closebtn
  {
    filter: invert(100%) !important;
    -webkit-filter: invert(100%);
  }

  .devsite-footer
  {
    background: #161616 !important;
    border-top: solid white 1px;
  }

  .devsite-footer-linkbox
  {
    background: #1F1F1F !important;
    border: solid black 1px;
  }

  code, pre
  {
    background: #0A0A0A !important;
    border: solid white 1px;
    color: #CCCCCC !important;
  }

  a code, td a code
  {
    color: #287BDE !important;
  }

  a code:hover, td a code:hover
  {
    color: #287BDE !important;
    text-decoration-line: underline;
  }

  .button-white.button-raised
  {
    background: #161616 !important;
  }

  .vk_lgy
  {
    background: #0A0A0A !important;
  }

  .vk_gy
  {
    background: #161616 !important;
  }

  div[class="wob_df wob_ds"]
  {
    background: #161616 !important;
  }

  .ita-kd-icon-button
  {
    background-color: transparent;
  }

  .lr-fy-eq-elem
  {
    border-color: white !important;
  }

  .ab_button, .tw-menu-btn:hover .tw-menu-btn-image:first-child, .jfk-button-standard
  {
    color: #A9b7C6 !important;
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
  }

  .ab_button:hover
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
    color: #A9b7C6 !important;
  }

  ._n0b, #ab_opt_icon
  {
    filter: invert(100%) !important;
    -webkit-filter: invert(100%);
  }

  .jhp input[type="submit"]
  {
    background: transparent !important;
    color: #A9b7C6 !important;
    border: none !important;
  }

  .jhp input[type="submit"]:hover, .gbqfba:hover, .gbqfba
  {
    background: transparent !important;
    color: #A9b7C6 !important;
    text-decoration-line: underline !important;
    border: none !important;
  }

  .sbibod, .gbqfqwb, .gbqfqwc, .lst-t, #lst-ib.lst, .ktf, chips-input
  {
    background: #45494A !important;
    color: #A9b7C6 !important;
    border: solid #646464 1px !important;
  }

  #fbar
  {
    background-color: transparent !important;
    border: none !important;
  }

  .sbib_a
  {
    background: transparent !important;
  }

  input-chip
  {
    background: transparent !important;
    color: #A9b7C6 !important;
  }

  .lr-fy-tb.lr-fy-bi, .lr-fy-tb.lr-fy-bi:focus, .lr-fy-tb
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  .gb_qa
  {
    background: #161616 !important;
    color: #A9b7C6 !important;
    border: solid white 1px !important;
  }
}

@-moz-document
regexp("(https|http)://(play).google\\.(com|([a-z]{2}))/.*")
{
  a
  {
    color: #CCCCCC !important;
  }

  a:hover
  {
    text-decoration-line: underline;
    color: #A9b7C6 !important;
  }

  .main-content
  {
    background: transparent !important;
  }

  .card-content
  {
    background: #161616 !important;
    box-shadow: none !important;
  }

  .card.apps .cover, .card.devices .cover, .card.people .cover, .card .reason-set
  {
    background-color: #0A0A0A !important;
  }

  .menu-link.id-no-menu-change.not-selected, .nav-container, .show-all-hover-zone, .permissions-container
  {
    background: #161616 !important;
  }

  .card .price
  {
    background: #0A0A0A !important;
    border: solid white 1px;
  }

  .nav .store .sub-nav, .modal-dialog-overlay, .modal-dialog, .body-content-loading-overlay, .nav-container .shared-sub-nav
  {
    background: #0A0A0A !important;
  }

  .secondary-sub-nav-option .sub-nav-link, .card .title, .card .description, .nav .menu-link .title:hover, .gbqfif, .gbqfsf
  {
    color: #A9b7C6 !important;
  }

  .gbqfqw
  {
    background: #1D1D1D !important;
    color: #A9b7C6 !important;
  }

  .ac-renderer
  {
    background: #161616 !important;
    color: #CCCCCC !important;
  }

  .ac-active
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .developer-reply
  {
    background: #161616 !important;
  }

  /*This value is inverted*/
  .expand-close .close-image
  {
    background-color: #A9b7C6 !important;
  }

  .cluster-heading .subtitle, .centered-text, .how-to-read-contents
  {
    color: #CCCCCC !important;
  }

  .details-info, .details-section, .rating-box, .device-table
  {
    background: #0A0A0A !important;
  }

  .list-row:hover
  {
    background: #1F1F1F !important;
  }

  .main-content .details-section .heading, .whatsnew .recent-change, .score-container .score, .review-title, .featured-review .quoted-review, .details-section.description.simple .text-body, .info-container .document-title, .action-bar-dropdown, .action-bar-link, .base-dialog .title, .bucket-title, .info-container .badge-title, div#signup-full div.table-enticement h1, div#signup-full div.image-enticement h1, div#signup-full div.video-panel-content h1, div.table-enticement ul.table div
  {
    color: #A9b7C6 !important;
  }

  .meta-info .title, .info-container .document-subtitle, .app-compatibility-final, .app-compatibility-initial, .purchase-header .subtitle, .purchase-header .price, .bucket-description, div.image-enticement div.description-text, div.video-panel-content div.description-text
  {
    color: #CCCCCC !important;
  }

  .info-container .document-subtitle.content-rating-badge, .expandable .expand-button, .expand-close.play-button, .action-bar-item.settings-gear-menu .dropdown-icon, .action-bar-help .action-bar-link-title, .permission-bucket .icon, .clock, .overflow-menu-button
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  .play-button
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
    color: #CCCCCC !important;
    box-shadow: none !important;
  }

  .play-button:hover
  {
    color: #A9b7C6 !important;
  }

  .play-button:focus
  {
    outline: none !important;
  }

  .dropdown-submenu, .dropdown-sub-submenu
  {
    background: #0A0A0A !important;
  }

  .child-submenu-link:hover, .leaf-submenu-link:hover, .parent-submenu-link:hover, .track-list-row:hover td, .track-list-row.playing td, .track-list-row.loading td
  {
    background: #1F1F1F !important;
  }

  .paragraph-end
  {
    background: transparent linear-gradient(to right, rgba(0, 0, 0, 0), #161616) repeat scroll 0% 0% !important;
  }

  .paragraph-end.details-light, .show-more-end
  {
    background: transparent linear-gradient(to right, rgba(0, 0, 0, 0), #0A0A0A) repeat scroll 0% 0% !important;
  }

  .action-bar
  {
    background: #1F1F1F !important;
    border-bottom: solid white 1px;
  }

  .footer
  {
    background: #161616 !important;
    color: #A9b7C6 !important;
    border-top: solid white 1px;
  }

  div.image-enticement.bgimage-albums.full-enticement, div.table-enticement
  {
    background-color: #232323 !important;
    color: #A9b7C6 !important;
  }

  body.signup.signupw #material-app-bar
  {
    background: #161616 !important;
    border-bottom: solid black 1px;
  }
}

@-moz-document
regexp("(https|http)://(www|patents).google\\.(com|([a-z]{2}))/patents/.*")
{
  .kd-appbar
  {
    background: #1F1F1F !important;
  }

  .goog-flat-menu-button .goog-flat-menu-button-img
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  .patent-bibdata
  {
    background: #0A0A0A !important;
    box-shadow: none !important;
  }

  .number-and-title, .patent-section-title, .patent-bibdata
  {
    color: #A9b7C6 !important;
  }

  .patent-text, .claim-text-dependent, .claim-dependent
  {
    color: #CCCCCC !important;
  }

  .patent-text-highlight
  {
    background-color:  #1F1F1F !important;
  }

  a, a:link, a:hover
  {
    color: #287BDE !important;
  }
}

@-moz-document regexp("(https|http)://(www|encrypted|images)\.google\.(com|([a-z]{2}))(\.[a-z]{2})?/imghp.*")
{
  .gb_6b > .gb_r, .gb_6b
  {
    height: 31px !important;
  }

  .gb_ib
  {
    border-radius: 0% !important;
    height: 23px;
    width: 23px;
  }

  .gb_ib.gb_jb
  {
    background: url("https://ssl.gstatic.com/gb/images/i1_0430b5ba.png") -393px -5px !important;
    background-color: transparent;
  }

  .gb_Fa .gb_ga
  {
    background: url("https://ssl.gstatic.com/gb/images/i1_0430b5ba.png") 599px 34px !important;
  }
}

@-moz-document
regexp("(https|http)://(plus)\\.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/.*") /*Old Google+*/
{
  .Sb, .Ee, .Xa, .ve, .gb_Xc .gb_5b, .b1b, .Bc, .aac
  {
    background: #161616 !important;
  }

  .es, .Rd, .g-h-f-vc-B, .Sb.hd .cc, .eg, .Uc.YJ, .uVd, .BIa, .fOa, .fr, .Sk, .WR, .vy, .uoGTZe, .Lmb .uoGTZe, .gbqfqw, .INc, .fOa.TVa .SOb, .qMc, .GY, .Lea, .o-E-N
  {
    background: #1D1D1D !important;
    color: #A9b7C6 !important;
  }

  .BIa:hover, .SOb, .Lde, .xa, .wu, .cp, .hf, .b-i, .gssb_m, .kZa, .ara, .Fw, .dm, .tQb, .IO, .qac
  {
    background: #161616 !important;
    color: #A9b7C6 !important;
  }

  #gb a.gb_Ha, #gb a.gb_Ha:visited, #gb a.gb_Ha:active, #gb a.gb_Ka, #gb a.gb_Ka:visited
  {
    border: solid white 1px !important;
    background: #161616 !important;
    color: #287BDE !important;
  }

  .iZd
  {
    background: #161616 !important;
    border: solid white 1px;
  }

  .f4a
  {
    background: #1F1F1F !important;
  }

  .gb_sa:hover .gb_xa, .gb_sa .gb_xa
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .gb_sa:hover:not(.gb_ta)
  {
    border-color: #287BDE !important;
  }

  .ej, .xac
  {
    background-color: #161616 !important;
  }

  .WpuQke
  {
    border-top: solid white 1px !important;
    background: #161616 !important;
  }

  .gb_a
  {
    border-top: solid 1px !important;
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .gb_a:hover
  {
    border-top: solid 1px !important;
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  .WdjWF, .XZd
  {
    background: #161616 !important;
  }

  .aj:hover .dv, .aj .dv, .g-h-f-k .g-h-f-V-nb, .USa .Hyc, .dn, .Ub, .Xi, .Aq, .JF, .eya, .gb_ma span, .gbqfif, .gbqfsf, .cTa, .WSa, .f34nqb, .YGETNc, .xQb, #gb#gb a.gb_ka, .ucVVre .d-s, .nN35, .lU, .OF, .Cr, .Uia, .Cy, .Cy.d-xc, .Uc .Zmjtc, .F9a, .Rqc, .VBU7vc, .juqF8b .TYml9c.d-s, .IOd, .zxc, .CUb, .Uc .jkb, .Uc .PSa .d-y-r-c, .oIa .d-Kc-L .d-A-B, .oIa .d-A-B, .Kra, .y0c, .BLa, .ara .o-U-s, .kZa .o-U-s, .o-Pe-r-c-Ta, .hDc, .cZd, .EOb, .vJa .xr, .d-y-r-c.d-y-r-c-u, .d-A-yb .d-A-B, .tBtqPc, .Hac, .Iac, .Nv.d-s, .tta .Hub, .tta .Jub, .y9fV .MNn0h:hover .YGETNc, .y9fV .MNn0h .YGETNc, .B70Reb .Hub, .B70Reb .Jub, .k4a, .dhb, .sQb:link, .sQb:visited, #gb#gb span.gb_ma, #gb#gb span.gb_ua, #gb#gb a.gb_pa, .Hub, .Jub, .MNn0h:hover .YGETNc, .nYXukb, .gb_R, #gb a.gb_a.gb_a, .a1d, .Y0d, .U0b, .TZd
  {
    color: #A9b7C6 !important;
  }

  .ot-hashtag, .ot-anchor, .zg.d-s, .qg, .proflink, .proflinkPrefix, .Ok, .rj, .yob, .Jo .d-s, .k1b .d-s, .bhsVm
  {
    color: #999999 !important;
  }

  .sQb:hover
  {
    color: #287BDE !important;
  }

  .kZa .o-U-s
  {
    color: #A9b7C6 !important;
  }

  .b-c-ca.b-c-M, .b-c-ca.b-c-da-ja.b-c-M, .b-c-ca, .b-c-ca.b-c-u, .b-c-ca.b-c-da-ja.b-c-u, .oA, .Qcb .la-ba-jb, .MZd
  {
    background: #0A0A0A !important;
  }

  .Uc, .d-r, .hwOol > .d-A-B, .d-A, .bD, .hf.DX, .gb_Ia, .gb_ra:hover .gb_wa, .Mnc9Jf, .xdJMjf, .Ue, .zj, .Xc, .em, .aJb, .QBc, .FOb, .mtb, .TdsNL, .Nmb, .XqaYje, .nfe, .f4a.tta, .f4a.B70Reb, .gb_qa
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .gb_L
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
    border-top: solid white 1px !important;
    border-bottom: solid white 1px !important;
  }

  .gb_L:hover
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
    border-top: solid white 1px !important;
    border-bottom: solid white 1px !important;
  }

  .iP, .vya, .eNd, .gb_F
  {
    background: #1F1F1F !important;
    border: solid white 1px !important;
    color: #A9b7C6 !important;
  }

  .em::before, .pMa::after
  {
    display: none !important;
  }

  .Bha, .Bha .jw, .t3, .aIb
  {
    background-color: transparent !important;
  }

  .MNn0h, .Kza, #gb a.gb_Ja, .Wm, .yzk7me .oNa:hover, .yzk7me .oNa, .juqF8b:hover, .juqF8b, .jcb, .d-y-r-c, .b-c-R
  {
    border: solid white 1px !important;
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .MNn0h:hover, .d-y-r-c:hover
  {
    border: solid white 1px !important;
    background: #0A0A0A !important;
  }

  .Cy.P4
  {
    color: #DD4B39 !important;
    border-bottom-color: #DD4B39 !important;
  }

  .Cy:hover
  {
    color: #A9b7C6 !important;
  }

  .Cy, .XO.d-y-r-c-u, .XO.d-y-r-c, .dR.d-s, #gb#gb span.gb_Ma
  {
    color: #A9b7C6 !important;
  }

  .FD
  {
    background: url("http://i.imgur.com/EwA9mRy.png") 0px -787px !important;
  }

  .kH
  {
    background: url("http://i.imgur.com/EwA9mRy.png") 0px -620px !important;
  }

  .mH
  {
    background: url("http://i.imgur.com/EwA9mRy.png") 0px -282px !important;
  }

  .jH
  {
    background: url("http://i.imgur.com/EwA9mRy.png") 0px -666px !important;
  }

  .TCROWb, .o-Ie-Tk-c, .tn1XBd, .Nh, .XO.d-y-r-c .d-y-r-c-Qa, .RY, .UVa, .Kua .d-y-r-c-Qa, .o-Pe-r-c-Ta .o-Pe-r-c-Qa, .zob, .Sgb, .Ygb, .vKFgJc, .bxpCne, .tubEcf.pTNgyc
  {
    /*border: solid white 1px !important;
    background-color: #A9b7C6 !important;*/

    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  .Pe-ub-Db-Bg-Cl
  {
    background-color: #0A0A0A !important;
  }

  .cO .by .MHa, .cO .by .fya, .b2
  {
    background-color: #161616 !important;
  }

  .cO .by .MHa:hover, .cO .by .fya:hover
  {
    background-color: #1D1D1D !important;
  }

  .uoNTwd
  {
    background-image: url("http://i.imgur.com/MuUWN23.png") !important;
  }
}

@-moz-document
regexp("(https|http)://(plus)\\.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/.*") /*New Google+*/
{
  /*Appears to be a random class so I had to do it this way*/
  div[class^="XS1fT"]
  {
    background: #161616 !important;
    border-bottom: solid black 2px;
  }

  .gb_pd
  {
    background: transparent !important;
    border: none !important;
  }

  .VXZBib
  {
    background: #0A0A0A !important;
  }

  .q71Plf .RH4Xh
  {
    background: #161616 !important;
    border: solid black 1px;
  }

  .JXv70c
  {
    background: transparent !important;
  }

  /*Loading Overlay*/
  .Ko2YWc, .NJjHMd
  {
    background: rgba(0, 0, 0, .3) !important;
  }

  .Nw9uye
  {
    background: #0A0A0A !important;
  }

  .CKkvDd
  {
    background: #0A0A0A !important;
  }

  .goog-modalpopup, .modal-dialog
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  .modal-dialog-title
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  .RW0zMe
  {
    background: #232323 !important;
  }

  .u5oEgd
  {
    background: #1F1F1F !important;
  }

  .M9kDrd
  {
    color: #A9b7C6 !important;
  }

  .M9kDrd:hover
  {
    background: #0A0A0A !important;
  }

  .M9kDrd:focus
  {
    background: #232323 !important;
  }

  .gZXxHe
  {
    background: #1F1F1F !important;
  }

  .Ihwked
  {
    background: #161616 !important;
  }

  .U6045c
  {
    background: #1F1F1F !important;
  }

  .nRQuUe
  {
    background: #0A0A0A !important;
  }

  .JPdR6b
  {
    background: #232323 !important;
  }

  .LZOeXd
  {
    background: #161616 !important;
    border-top: solid white 1px;
  }

  .nJhvC
  {
    background: #161616 !important;
  }

  .cjGgHb .M24KRd
  {
    background: #1F1F1F !important;
  }

  .Q6Huee
  {
    background: #161616 !important;
  }

  .B5gIxb
  {
    background-color: #0A0A0A !important;
    border: solid black 1px;
  }

  .bTEgD
  {
    background: #161616 !important;
  }

  .z80M1:hover
  {
    background: #0A0A0A !important;
  }

  .xdjHt.FYQzvb
  {
    background-image: url("https://ssl.gstatic.com/images/branding/lockups/2x/lockup_gplus_light_color_88x24dp.png") !important;
    opacity: 1 !important;
  }

  .M9kDrd.rTaXUb .DCYkOe, .M9kDrd.d1pIIf .DCYkOe, .M9kDrd.PQPkJb .DCYkOe
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  .z80M1.N2RpBe::before
  {
    border-color: #A9b7C6 !important;
  }

  .teJoc
  {
    border-left-color: white !important;
  }

  .xRbTYb, .Wbuh5e, .m3JvWd, .Dm8wYc, .mK705, .z80M1, .e9VPPd, .PGA51c, .oxgvac, .GhArxb, .IJZbFe, .ygV3Pb, .sLDTkb, .iLGfrb, .c8b3Te, .foClFd, .tCqane, .K1qdk, .jsery, .cDCnlb .kaAt2.KKjvXb, .jHTpsd
  {
    color: #A9b7C6 !important;
  }

  .Xa1Zuc, .rZHH0e, .cXHcwc, .WhylY, .jUDooe, .lwkoKc, .IGKOeb, .G7Fho, .UTObDb, .vUPebb, .EKledf, .hq8Iyf, .Z22eNc, .CvqmZc, .ThdJC, .vWOjp
  {
    color: #CCCCCC !important;
  }
}

@-moz-document
regexp("(https|http)://www\\.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/(adsense).*")
{
  /*Often Changed*/
  .ETEKIJC-t-d
  {
    background: #161616 !important;
    border-bottom: solid white 1px !important;
  }

  a.ETEKIJC-t-m, a.ETEKIJC-t-h, a.ETEKIJC-t-A
  {
    filter: invert(100%);
    -webikit-filter: invert(100%);
  }

  .ETEKIJC-n-j h2, .ETEKIJC-n-i
  {
    color: #A9b7C6 !important;
  }

  .ETEKIJC-n-b
  {
    color: #999999 !important;
  }

  .ETEKIJC-lf-b, .ETEKIJC-n-j h3, .ETEKIJC-Cb-d
  {
    color: #CCCCCC !important;
  }

  .ETEKIJC-n-c, .ETEKIJC-j-n, .ETEKIJC-Tc-a, .ETEKIJC-of-b
  {
    background: #0A0A0A !important;
  }

  .ETEKIJC-j-u .ETEKIJC-j-i.ETEKIJC-j-a
  {
    background: #1F1F1F !important;
  }

  .ETEKIJC-Uc-j
  {
    background: #0A0A0A !important;
    border-right: solid white 1px;
  }
  /*Everything Else*/

  .CX5F1OD-t-d, .gbox-header.syn-pri-boo
  {
    background: #161616 !important;
  }

  a.CX5F1OD-t-m, .estimated-earnings-icon[as-scoretabs], .page-views-icon[as-scoretabs], .ad-rpm-icon[as-scoretabs], .as-fullscreen-enter-icon[fullscreen-toggle], a.CX5F1OD-t-A, .as-dropdown-calendar-icon[as-dropdown], a.CX5F1OD-t-h
  {
    background-color: #A9b7C6 !important;
    border: solid white 1px !important;
  }

  .CX5F1OD-t-k a, table.asfe-DynamicTable table.nav-bar, table.asfe-DynamicTable table.empty-row td, .CX5F1OD-N-A, .CX5F1OD-Bb-d
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .CX5F1OD-t-k a:hover, .CX5F1OD-Mb-l.CX5F1OD-Mb-c:hover, .acx-menu[acx-menu], .H4JVA1D-j-n, .CGUCWUD-j-n
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .CX5F1OD-nd-e:hover, .CX5F1OD-nd-e, .CX5F1OD-Mb-l, .CX5F1OD-g-j, .CX5F1OD-If-i, .CX5F1OD-dd-j, .CX5F1OD-T-a, .as-dashboard-container[reporting-dashboard], .as-button[fullscreen-toggle], .as-dropdown-menu-button[as-dropdown], .acx-menu-item[acx-menu-item]:hover, .acx-menu-item[acx-menu-item], .is-selected.as-dropdown-menu-button[as-dropdown], .CX5F1OD-qb-c, .CX5F1OD-Sc-l .iconContainer, .H4JVA1D-zb-a
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
    border: solid white 1px !important;
  }

  .H4JVA1D-t-k a:hover
  {
    background: #1F1F1F !important;
    text-decoration-line: underline !important;
  }

  .CGUCWUD-t-d
  {
    background: #161616 !important;
    border-bottom: solid white 1px;
  }

  .CX5F1OD-Sc-j
  {
    background: #1F1F1F !important;
  }

  input[type="text"]:disabled
  {
    background: #0A0A0A !important;
    color: #999999 !important;
  }

  .CX5F1OD-qb-e, .CX5F1OD-qb-h, .CX5F1OD-j-n, .paletteSchemesAdminIcon, .iconContainer, .CX5F1OD-Kf-c, .as-scoretab.as-scoretab-selected[as-scoretabs], .CX5F1OD-Le-c, .CX5F1OD-Le-h, .CX5F1OD-Md-d
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .CX5F1OD-T-g, .CX5F1OD-T-h, .CX5F1OD-Sd-i, .as-card-header[card-container], .as-scoretab[as-scoretabs]:hover, .as-scoretab[as-scoretabs], .as-button[fullscreen-toggle]:hover, .as-dropdown-menu-button[as-dropdown]:hover, .CX5F1OD-Rb-e, .CX5F1OD-Rb-f:hover, .CX5F1OD-Rb-f:focus, .CX5F1OD-Rc-a, .CX5F1OD-qb-c:hover, .CX5F1OD-Sc-l .highlightedIcon, .CX5F1OD-Sc-l .iconContainer:hover, .CX5F1OD-Sc-l .iconContainer:focus, .CX5F1OD-kd-c, .CX5F1OD-Le-e, .H4JVA1D-n-c, .H4JVA1D-j-u .H4JVA1D-j-i.H4JVA1D-j-a a.H4JVA1D-j-j
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
    border: solid white 1px !important;
  }

  .CX5F1OD-qb-g, a.CX5F1OD-j-j:hover, .CX5F1OD-j-u .CX5F1OD-j-i.CX5F1OD-j-a a.CX5F1OD-j-j, .CX5F1OD-j-q.CX5F1OD-j-a .CX5F1OD-j-t, .highlightOnHover:hover, .CX5F1OD-N-h, .CX5F1OD-g-j.CX5F1OD-g-a:hover, .syn-report-filters-widget, .CX5F1OD-If-a, .CX5F1OD-Kf-c:hover
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  .CGUCWUD-n-i, .CGUCWUD-n-j h2, .CGUCWUD-n-b, .acx-app[card-container], input[type="text"]:focus, input[type="text"], .CX5F1OD-n-j h2, .CX5F1OD-w-c a:hover, .H4JVA1D-n-i, .H4JVA1D-n-b, .ghp-iconTextComponent-label
  {
    color: #A9b7C6 !important;
  }

  .CX5F1OD-n-b, .syn-Footer .copy, .H4JVA1D-n-j h3, .H4JVA1D-n-k, .H4JVA1D-n-j h2, .ghp-header-searchBox, .CGUCWUD-n-j h3, .CGUCWUD-n-k
  {
    color: #CCCCCC !important;
  }

  .CX5F1OD-if-b, .CX5F1OD-n-j h3, .CX5F1OD-ac-a, .H4JVA1D-jf-b
  {
    color: #999999 !important;
  }

  .CX5F1OD-n-c, table.asfe-DynamicTable table.grid tr.header-row td, .CX5F1OD-Nd-b a, .CGUCWUD-j-u .CGUCWUD-j-i.CGUCWUD-j-a a.CGUCWUD-j-j, .CGUCWUD-Od-b a
  {
    background: #0A0A0A !important;
  }

  .CX5F1OD-N-A, .CX5F1OD-lf-b:focus, .CX5F1OD-lf-b:hover
  {
    background: transparent !important;
  }

  .gbox-header.syn-pri-boo-alt
  {
    background: transparent !important;
    height: 0px;
  }

  .CX5F1OD-Nd-a
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  textarea, textarea:hover, textarea:focus, .CX5F1OD-ye-e, td.asfe-DynamicTableCell
  {
    background: #1F1F1F !important;
    border: solid white 1px !important;
    color: #A9b7C6 !important;
  }
}

@-moz-document
regexp("(https|http)://news.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/.*")
{
  .gb_7 .gb_8
  {
    background: url("https://ssl.gstatic.com/gb/images/i1_0430b5ba.png") 593px 33px, #161616 !important;
    opacity: 1;
  }

  .gb_6b
  {
    background: #161616 !important;
  }

  .basic-title
  {
    background: #0A0A0A !important;
  }

  .gbqfqw.gbqfqw:hover
  {
    border: solid white 1px !important;
  }

  .nav-items .nav-item .topic a, .basic-title .text, .basic-title a, .gbqfif, .gbqfsf, #anchorman-edition-menu .goog-menuitem, .goog-menuitem-highlight .goog-menuitem-content, .iph-dialog-content, #gb#gb span.gb_ma, .wg .forecast-day-today, .source, .epg .source-preference-table .row-label, #gb#gb span.gb_ua
  {
    color: #A9b7C6 !important;
  }

  .nav a.persistentblue, .nav a.persistentblue:visited, .esc .esc-diversity-article-category, .esc .esc-topic-heading, .goog-flat-menu-button
  {
    color: #CCCCCC !important;
  }

  .jfk-button-standard
  {
    color: #0A0A0A !important;
  }

  .gbqfqw, #anchorman-edition-menu .goog-menuitem, .goog-menuitem, .pog .eqp-pane-wrapper
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
    border: solid white 1px !important;
  }

  .rt-col .basic-title, .promo-container
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
    border: solid white 1px !important;
  }

  .esc .esc-body
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
    border: solid white 1px !important;
  }

  #anchorman-edition-menu .goog-menuitem:hover, .goog-menuitem:hover, .pog .eqp-pane, .pog .topic-autocomplete-wrapper, .pog .select-source-autocomplete-wrapper, .pog .eqp-pane-footer, .gssb_a td:hover, .epg .source-preference-text, .media-strip-video-item-tooltip
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  .pog .hover .source-list-row, .pog .hover .topic-list-row, .gssb_a td, .gbqfsf, .sg .sports-score-row-rest, .sg .sports-score-row-first, .sg table.sports-menu td.inactive
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .pinning-enabled .left-nav-pinned, .advanced-search-wrapper, .sg .show-more:hover, .sg .show-more, .sg .title, .sg table.sports-menu td.tab
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
    border: solid white 1px !important;
  }

  .main-am2-pane a:hover, .main-am2-pane a
  {
    color: #A9b7C6 !important;
  }

  .gb_Oa .gb_pa
  {
    background: url("https://ssl.gstatic.com/gb/images/i1_0430b5ba.png") 599px 34px !important;
  }

  .gb_qb.gb_rb
  {
    background: url("https://ssl.gstatic.com/gb/images/i1_0430b5ba.png") -393px -5px !important;
    background-color: transparent !important;
  }

  .gb_qb
  {
    border-radius: 0% !important;
    height: 23px;
    width: 23px;
  }

  .iph-dialog
  {
    background: #161616 !important;
    color: #A9b7C6 !important;
  }

  .down-arrow-input-overlay, .icon
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

@-moz-document
regexp("(https|http)://accounts.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/.*")
{
  .card
  {
    background: #161616 !important;
  }

  .jfk-bubble
  {
    background: #1F1F1F !important;
  }

  .card-mask
  {
    background: #1F1F1F !important;
    border-top: solid white 1px;
  }

  .banner h1, .banner h2, .banner h3, .one-google p, .signin-card #profile-name
  {
    color: #A9b7C6 !important;
  }

  .signin-card #reauthEmail, .signin-card #email-display
  {
    color: #CCCCCC !important;
  }

  .google-footer-bar
  {
    border: none !important;
  }

  .FH0XAb
  {
    background: transparent !important;
  }

  .tnNfDe
  {
    background: #161616 !important;
  }

  .gu0k2c
  {
    color: #CCCCCC !important;
  }

  .signuponepage .signup-box
  {
    background: #161616 !important;
  }

  .recaptcha-widget #recaptcha_reload_btn, .recaptcha-widget #recaptcha_switch_audio_btn, .recaptcha-widget #recaptcha_whatsthis_btn
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  #recaptcha_widget.recaptcha-widget
  {
    background: #232323 !important;
  }

  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"]
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }
}

@-moz-document
regexp("(https|http)://www\\.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/(drive|docs).*"),
regexp("(https|http)://drive.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/.*")
{
  .gb_7 .gb_8
  {
    background: url("https://ssl.gstatic.com/gb/images/i1_0430b5ba.png") 593px 33px, #161616 !important;
    opacity: 1;
  }

  .unfixed-wrapper, .section-divider, .download .section-intro, .a-Ya-LYNcwc, .a-v-m, .Ya-n-cb, .a-u-m.a-u-yb-Oi, .a-u-R-Tn:focus, .a-u-R-Tn:hover
  {
    background: #1F1F1F !important;
  }

  #maia-footer
  {
    background: #1F1F1F !important;
  }

  #maia-footer-local, .tabs-tab.tab-is-active, .dropdown-list a:hover, .Vb-Ma-Gb .a-U-Bb:focus .a-U-ag.a-U-qd-yg > .a-U-H, :not(.a-U-ag-da) > .a-U-H:hover, .f-ja, .cc-qa, .a-fa-vg-Q, .a-u-m .a-rBfmuc-Tk-R
  {
    background: #0A0A0A !important;
  }

  .nav-dark .header, .dropdown-list a, .a-jb-Gl-Qe > .a-pa-ob-Gl-Qe-ve, .a-Ud-m, .w-t, .kb-r, .kb-r-M, .kb-r-s, .modal-dialog-content, .j-wi, nav, ul.nav-tertiary, ul.nav-tertiary li
  {
    background: #161616 !important;
  }

  .a-pa-ob-Ff
  {
    background: #232323 !important;
  }

  .heading-headline, .Ya-ka-og, .Oc-ma-R, .a-ng-M-P, .w-y-q-R, .kb-r-M-x, .kb-r, .o-Se, .ac-highlighted, .k-v-M, .k-q-jc-Dj, .a-u, .Ya-ka-og b, .a-xc-V-cr, .gbqfif, .gbqfsf, .a-rBfmuc-Tk-Ea, .j-D-pc .j-D-s, tr.accounts, .title, .Oc-I-x
  {
    color: #A9b7C6 !important;
  }

  .section-body, .a-Lb-Rp-P, .Ya-am-x, .Oc-ef-u-J-Ea, .a-Ud-N-K > .j-N-K > .j-N, .w-t-mc-Pa-mg-x, .w-y-La-P.w-y-zi-La:hover, .w-y-La-P.w-y-zi-La:active, .w-y-La-P.w-y-zi-La:focus, .simple-sharing-link-heading, .simple-sharing-people-heading, .a-xc-V-J-uj
  {
    color: #CCCCCC !important;
  }

  .Oc-m, .Oc-ef-u-J-Mk, .w-y-q-m, .w-y-kr, .n-bg-n-P, .a-xc-V-J-sa-Ea, .disabled
  {
    color: #999999 !important;
  }

  a
  {
    color: #287BDE !important;
  }

  .w-y-Bd-M, .w-y-Bd-s, .w-y, .inviter-recipient-area, .ac-renderer
  {
    background: #1F1F1F !important;
    border: solid white 1px;
    color: #A9b7C6;
  }

  .w-y-La:hover, .w-y-La:active, .w-y-La:focus, .n-bg-n-P:hover, .Vb-Ma-Gb .n-bg-n-P:focus:hover, .a-Oe-bb, .ac-active, .apps-share-chips-chip, .k-v-n-d-m, .k-v-n-M-m, .a-u-R, .Xa-r-N-K > .j-N-K > .j-N:hover
  {
    background: #0A0A0A !important;
    border: solid white 1px;
    color: #A9b7C6;
  }

  .modal-dialog-title, .toggle-link
  {
    background: #161616 !important;
    color: #A9b7C6 !important;
  }

  .j-D, .j-A
  {
    background: #161616 !important;
    color: #CCCCCC;
  }

  .a-c-x-s, .a-c-x-Ha
  {
    background: #000 !important;
    color: #FFF !important;
  }

  .a-d-e, .j-ia-A-e.a-k-ka-Ze-A-e, .a-pa-P-d-m, .a-ng-mc-ta, .kb-r-M-T, .n-bg-Xc, .a-Ud-T-e, .O-Ka-Pa-e-cb, .a-u-R-M-m, .a-U-Uf > .a-U-jf-d-Uf, .a-Bc-cd-T-e, .j-D-d, .j-Wg-Y
  {
    filter: invert(100%) !important;
    -webkit-filter: invert(100%) !important;
  }

  .gbqfqw
  {
    background: #3C3C3C !important;
    color: #A9b7C6 !important;
    border: solid #0A0A0A 1px !important;
  }

  .a-R-K
  {
    background: #232323 !important;
    border-bottom: solid 1px !important;
  }

  .gb_Xc .gb_6b
  {
    background: #161616 !important;
    border-bottom: solid black 2px !important;
    box-shadow: 0px 1px 1px #0A0A0A !important;
  }
}

@-moz-document
regexp("(https|http)://docs.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/.*")
{
  .docs-icon-img-container, .docos-new-comment-icon, .asor, .docs-homescreen-dropdown-arrow, .docs-homescreen-item-overflow, .docs-homescreen-shared-black-24, .docs-homescreen-menu-black-24, .docs-homescreen-nav-help-24, .docs-homescreen-nav-settings-24, .input-box, .punch-start-presentation-icon, .docs-toolbar-menu-button .goog-toolbar-menu-button-icon, .fg-Uh-db-ig
  {
    filter: invert(100%) !important;
    -webkit-filter: invert(100%) !important;
  }

  div[class="cell-input"]
  {
    background: #1F1F1F !important;
  }

  .input-box
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  .goog-toolbar-button-outer-box, .goog-toolbar-menu-button-outer-box
  {
    background: #1F1F1F !important;
  }

  .kix-appview-editor
  {
    background: #161616 !important;
    background-size: cover !important;
    color: #A9b7C6 !important;
  }

  .fg-mg-uf
  {
    background: #161616 !important;
  }

  .kix-page, .kix-page-content-wrapper, .kix-wordhtmlgenerator-word-node
  {
    background: #161616 !important;
  }

  .kix-page span
  {
    color: #A9b7C6 !important;
  }

  .fg-cl-Ng-cl-me
  {
    background-color: #161616 !important;
  }

  .fg-gg-Pf .fg-hg-Zb-uf
  {
    box-shadow: none !important;
    border-bottom: solid white 1px !important;
  }

  /*Gmail Insert Photo*/
  div[class^="gg-Vh"]
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  div[class^="gg-ig"]
  {
    color: #A9b7C6 !important;
  }

  span[class^="gg-ui"]
  {
    color: #CCCCCC !important;
  }

  div[class^="gg-lg-ic"]
  {
    background: #232323 !important;
  }

  div[class^="a-b-c d-u"]
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  div[class^="gg-dl"]
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .kix-ruler-face-number, .docs-title .docs-title-untitled, .docs-title-inner, #gb#gb a.gb_ca, .goog-toolbar-combo-button-input, .goog-toolbar-menu-button, .goog-menuitem-highlight .goog-menuitem-content, .docos, .gbqfif, .gssb_m, .docs-homescreen-grid-header, .docs-homescreen-list-header, .docs-homescreen-list-item, .docs-sheet-bubble-content, .docs-homescreen-empty-section-new-user-notice-heading, .modal-dialog, .default-formula-text-color, #gb#gb a.gb_ja, .docs-access-level-indicator-menu-text, .fg-hg-Zb-ig-Yb-jg .a-ig-w, .fg-ti-Ng-cb, .fg-Zg-Me, .fg-cl-Ng-cb
  {
    color: #A9b7C6 !important;
  }

  .docs-title-save-label, .docs-homescreen-list-item-time, .goog-flat-menu-button, .docs-homescreen-list-item-owner, .fg-hg-Zb-ig-Yb-jg .a-ig
  {
    color: #CCCCCC !important;
  }

  .kix-cursor-caret
  {
    border-color: #CCCCCC !important;
    border-width: 1px;
  }

  .gb_ma
  {
    border-top-color: #FFF !important;
  }

  .jfk-button-standard
  {
    background: #0A0A0A !important;
    border: solid white 1px;
    color: #A9b7C6 !important;
  }

  .goog-menuitem-highlight, .goog-menuitem-hover, #docs-docos-commentsbutton, .docs-homescreen-empty-section-notice, .goog-flat-menu-button, .goog-date-picker, .goog-date-picker-head td, .goog-date-picker-wday
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  .goog-menuitem, .goog-menu
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .docs-title-widget-enabled:hover .docs-title, .goog-modalpopup, .modal-dialog, .goog-toolbar-combo-button-hover, .docs-menubar .goog-control-hover, .jfk-bubble.jfk-bubble-promo, .docos-streampane-header, .docos-streampane-header .goog-flat-menu-button-hover, .docos-streampane-header .jfk-button-hover
  {
    background: #0A0A0A !important;
    border: solid white 1px;
  }

  .modal-dialog-content, .modal-dialog-title
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .goog-date-picker-date
  {
    background: #1F1F1F !important;
    border: solid white 1px;
  }

  .goog-date-picker-date:hover
  {
    background: #0A0A0A !important;
    border: solid orange 1px;
  }

  .jfk-textinput
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
  }

  .goog-modalpopup-bg, .modal-dialog-bg
  {
    background: #232323 !important;
  }

  #docs-chrome
  {
    background: #161616 !important;
  }

  #docs-toolbar-wrapper
  {
    background: #1F1F1F !important;
  }

  #kix-ruler
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
  }

  .kix-ruler-background-inner
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .docs-homescreen-grid-header, .docs-homescreen-list-header, #formula-bar, .ritz .freezebar-origin-ltr
  {
    background: #0A0A0A !important;
  }

  .gssb_m, .gssb_a, .gssb_a td, .docs-homescreen-list-item
  {
    background: #1F1F1F !important;
  }

  div[id*='grid-table-container'] > canvas
  {

  }

  .jfk-freestanding-menu-button.waffle-kennedy-column-menu-button, .grid-bottom-bar
  {
    background-color: #0A0A0A !important;
  }

  .docs-sheet-active-tab .docs-sheet-tab-outer-box
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .docs-sheet-tab, .docs-sheet-message-container-button, .jfk-bubble
  {
    background: #232323 !important;
    color: #CCCCCC !important;
  }

  .gbqfqw, .docs-homescreen-grid-item
  {
    background: linear-gradient(#3C3C3C, #2E2E2E) !important;
    color: #A9b7C6 !important;
    border: solid #0A0A0A 1px !important;
  }

  .gb_3c .gb_bc
  {
    background: #161616 !important;
    color: #A9b7C6 !important;
    border-bottom: solid white 1px !important;
  }

  p[style="font: 32px Arial, sans-serif; color: #222"], p
  {
    color: #A9b7C6 !important;
  }
}

@-moz-document
regexp("(https|http)://docs.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/presentation.*")
{
  #docs-editor-container
  {

  }
}

@-moz-document
regexp("(https|http)://books.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/.*")
{
  input[id^="as_"]
  {
    background: #3C3C3C !important;
    color: #A9b7C6 !important;
  }

  div[style="border-bottom:solid 1px #3366cc"]
  {
    border-bottom: none !important;
  }

  tr[bgcolor="#cbdced"]
  {
    background: #000 !important;
  }

  td[bgcolor="#e5ecf9"]
  {
    background: transparent !important;
  }

  font[color="#000000"]
  {
    color: #A9b7C6 !important;
  }

  tr[bgcolor="#ffffff"]
  {
    background: #161616 !important;
  }

  tr[style="background-color:#fff;font-size:83%"]
  {
    background: #161616 !important;
  }

  tr[style="font-size: 83%; background-color: rgb(255, 255, 255);"]
  {
    background: #161616 !important;
  }
}

@-moz-document
regexp("(https|http)://analyticsacademy.withgoogle\\.(com|([a-z]{2}))(\\.[a-z]{2})?/.*")
{
  #gcb-header
  {
    background: #161616 !important;
    border-bottom: black solid 2px !important;
  }

  #gcb-nav-x
  {
    background: #232323 !important;
    border-bottom: solid 1px !important;
  }

  #gcb-footer
  {
    background: #1F1F1F !important;
  }

  .gcb-explorer h1, .gcb-explorer-list .gcb-explorer-list-header, #gcb-nav-y.gcb-navigation li li, .gcb-unit-header
  {
    color: #A9b7C6 !important;
  }

  #gcb-nav-x li, #gcb-nav-x li a
  {
    color: #CCCCCC !important;
  }

  a
  {
    color: #287BDE !important;
  }

  #gcb-header a
  {
    color: #CCCCCC !important;
    text-shadow: none !important;
    font-weight: 500 !important;
  }

  .gcb-explorer-list
  {
    background: #0A0A0A !important;
  }

  .gcb-explorer-list-item
  {
    background: #161616 !important;
  }

  .gcb-intro, .gcb-schedule .gcb-col-9
  {
    background: #161616 !important;
    color: #A9b7C6 !important;
    border: solid black 1px !important;
  }

  .gcb-aside
  {
    background: #0A0A0A !important;
  }

  .gcb-lesson-table th, .gcb-lesson-table td
  {
    background: #1F1F1F !important;
  }

  .gcb-lesson-content a[target="_blank"]::after
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  .gcb-next-button a, .gcb-prev-button a
  {
    background-color: #498DFF;
    color: #A9b7C6 !important;
  }
}

@-moz-document
regexp("(https|http)://script.google\\.(com|([a-z]{2}))(\\.[a-z]{2})?/.*")
{
  #docs-chrome
  {
    background: #161616 !important;
    color: #A9b7C6 !important;
  }

  #docs-toolbar-wrapper
  {
    background: #1F1F1F !important;
  }

  .resource-list, .editor .gwt-TabLayoutPanelTabs, .editor .code-area .CodeMirror-gutter
  {
    background: #232323 !important;
  }

  .goog-menu
  {
    background: #0A0A0A !important;
  }

  .goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem
  {
    background: #0A0A0A !important;
    color: #CCCCCC !important;
  }

  .goog-menuitem-highlight .goog-menuitem-content, .goog-menuitem-hover .goog-menuitem-content
  {
    color: #A9b7C6 !important;
  }

  .docs-menubar .goog-control-open
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
    border: solid white 1px;
  }

  .editor .code-area .CodeMirror-gutter-text
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
    border-bottom: solid white 1px;
  }

  .resource-list .project-items-list
  {
    background: #161616 !important;
    color: #CCCCCC !important;
  }

  .resource-list .project-items-list .selected
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .editor .tab-header .name
  {
    color: #CCCCCC !important;
  }

  #gb#gb a.gb_b, .editor .gwt-TabLayoutPanelTab-selected .tab-header .name, .docs-title-inner
  {
    color: #A9b7C6 !important;
  }

  .resource-list .project-items-list .focused, .resource-list .project-items-list .item:hover
  {
    background: #0A0A0A !important;
  }

  .status-bar
  {
    background: #232323 !important;
  }

  .workspace .gwt-SplitLayoutPanel-VDragger, .workspace .gwt-SplitLayoutPanel-HDragger
  {
    background: #000000 !important;
  }

  .docs-title-widget-enabled:hover .docs-title
  {
    background: #0A0A0A !important;
    border: solid white 1px;
  }

  .docs-menubar .goog-control-hover
  {
    background: #0A0A0A !important;
    color: #A9b7C6 !important;
    border: solid white 1px;
  }

  .gb_Qa, .resource-list .project-items-list .item .icon, .docs-icon
  {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }

  .goog-toolbar-button-checked, .goog-toolbar-button-hover
  {
    background: #0A0A0A !important;
  }

  .goog-toolbar-menu-button
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .editor .gwt-TabLayoutPanelTab
  {
    background: #0A0A0A !important;
  }

  .editor .gwt-TabLayoutPanelTab-selected
  {
    background: #1F1F1F !important;
  }

  /*Syntax Highlighting*/
  .editor .code-area .CodeMirror
  {
    background: #1F1F1F !important;
    color: #A9b7C6 !important;
  }

  .cm-s-default span.cm-variable
  {
    color: #CCCCCC !important;
  }

  .cm-s-default span.cm-variable-2
  {
    color: #D0D0FF !important;
  }

  .cm-s-default span.cm-keyword
  {
    color: #C26230 !important;
  }

  .cm-s-default span.cm-def
  {
    color: #A9b7C6 !important;
  }

  .cm-s-default span.cm-property
  {
    color: #A9b7C6 !important;
  }

  .cm-s-default span.cm-atom
  {
    color: #A5C261 !important;
  }

  .cm-s-default span.cm-string
  {
    color: #A5C261 !important;
  }

  .cm-s-default span.cm-string-2
  {

  }

  .cm-s-default span.cm-number
  {
    color: #A5C261 !important;
  }

  .cm-s-default span.cm-comment
  {
    color: #BC9458 !important;
  }

  .cm-s-default span.cm-error
  {

  }
}

@-moz-document
regexp("(https|http)://edutrainingcenter.withgoogle\\.(com|([a-z]{2}))/.*")
{
  .header
  {
    background: #161616 !important;
    border-bottom: solid black 1px;
  }

  .top-nav
  {
    background: #1F1F1F !important;
  }

  .footer
  {
    background: #232323 !important;
  }

  .section-title, .section-goals, .section-certification
  {
    background: #1F1F1F !important;
  }

  section.grid_outer
  {
    background: #161616 !important;
  }

  .chapter-section.certification .chapter-misc.certification, .card.certification .btm, .card.certification-level.certification-level .btm, .chapter-section.certification-level .certification-step .step-detail, .chapter-section.certification-level .chapter-misc.certification-level.trainer, .card, .chapter-section.certification-level .chapter-misc.certification-level a, .card.training .btm, .chapter-section.training .chapter-misc a, .chapter-section.training .training-misc.course.unit, .chapter-section.training .training-misc.course, .chapter .chapter-intro .qt-mc-question.qt-standalone, .chapter-section.lesson-check, .card_modal.visible.lesson-check
  {
    background: #1F1F1F !important;
  }

  p, h1, h2, h3, h4, h5, h6, .section-hdr.plain, .chapter-section.certification .chapter-misc span, .chapter .chapter-intro ul, .card.certification-level.certification-level .hdr, .chapter-section.certification-level .certification-step .step-detail b, #side-nav nav a, .card.three .hdr, .lesson-question-options label, #side-nav nav .side-nav-dlhdr
  {
    color: #A9b7C6 !important;
  }

  .section-hdr-copy.plain.sub-hdr
  {
    color: #A9b7C6 !important;
    font-size: 12px !important;
  }

  .breadcrumb .bc-button a
  {
    color: #A9b7C6 !important;
    opacity: 1 !important;
  }

  .breadcrumb.certification-bc
  {
    background: #DF7311 !important;
  }

  #side-nav
  {
    background: #232323 !important;
  }

  .chapter-section .jot-notes
  {
    background: #2D2D2D !important;
    color: #A9b7C6 !important;
  }

  .chapter-section-steps
  {
    background: #3E50B4 !important;
  }

  .lesson-hdr, .check-answer-button
  {
    background: #A7B319 !important;
  }
}