@-moz-document url-prefix("http://www.gamefaqs.com/")
    {
      h2 a
      {
        color: #0973BF !important;
      }
      
      .masthead a, .content_nav > li > a, .masthead_user a
      {
        color: #FAFAFA !important;
      }
      
      .no-touch .masthead a:hover
      {
        color: #FAFAFA !important;
        text-decoration-line: underline;
      }
      
      .masthead_user a:visited, .crumb::before
      {
        color: #FAFAFA !important;
      }
      
      .page-header .page-title
      {
        text-shadow: none !important;
      }
      
      th a
      {
        color: #FAFAFA !important;
      }
      
      .paginate > li
      {
        color: #CCCCCC !important;
      }
      
      .content_nav
      {
        box-shadow: none !important;
        border: solid white 1px !important;
      }
      
      .amzn
      {
        background: linear-gradient(#3A3A3A, #303030) !important;
      }
      
      .amzn_txt
      {
        color: #FAFAFA !important;
      }
      
      .amzn_price
      {
        text-shadow: none !important;
      }
      
      #amzn_logo
      {
        /*Inverts the text color on the Amazon logo. Sadly it's inline, and I don't know how to fix it. If you can get it working, please message me on the UserStyles website and I'll update the code.*/
        /*background: url("http://i.imgur.com/vv0mgvN.png") !important;*/
      }
      
      .btn
      {
        background: linear-gradient(#3A3A3A, #303030) !important;
        color: #FAFAFA !important;
        text-shadow: none !important;
      }
      
      .paginate > li > a
      {
        background: linear-gradient(#3A3A3A, #303030) !important;
        color: #FAFAFA !important;
        text-shadow: none !important;
      }
      
      .user_subnav, .content_subnav
      {
        background: #0A0A0A !important;
        color: #FAFAFA !important;
      }
      
      .ffaq pre.faqtext, .board_poll, .board.message .msg_infobox:not(.deleted), .tinynav, .reg_dialog
      {
        background: #0A0A0A !important;
        color: #FAFAFA !important;
      }
      
      .board.message td, .board.message:not(.newbeta) tr:nth-child(2n+1) td.msg, .board.message.newbeta tr:nth-child(2n-1) td {
        background: #1C1C1C !important;
        color: #FAFAFA !important;
      }
      
      .pod_gs, ul.systems li:nth-child(2n+1), .body.settings div.row:nth-child(2n+1)
      {
        background: #0A0A0A !important;
      }
      
      .pod_gb
      {
        background: #0A0A0A !important;
      }
      
      .pod_topten li.showcase a
      {
        background: #0A0A0A !important;
      }
      
      .mygames_section
      {
        background: #0A0A0A !important;
      }
      
      h3, .subsection-title
      {
        color: #FAFAFA !important;
      }
      
      .pod_gameinfo li.esrb, .board.message .msg_infobox .post_time
      {
        color: #FAFAFA !important;
      }
      
      .pod_topten .body a span, .pod_topten .body a span.count
      {
        color: #FAFAFA !important;
      }
      
      .pod_popular_board span a
      {
        color: #CCCCCC !important;
      }
      
      .pod_gameinfo li.metacritic
      {
        background: #0A0A0A !important;
      }
      
      .pod_related p
      {
        color: #FAFAFA !important;
      }
      
      .pod_topten li:nth-child(2n+1)
      {
        background: #0A0A0A !important;
      }
      
      .pod_popular_board li:nth-child(2n+1)
      {
        background: #0A0A0A !important;
      }
      
      .board.message tr.left:nth-child(2n+1) td.msg{
        background: #1C1C1C !important;
        color: #FAFAFA !important;
      }
      
      .pod_poll .fields
      {
        background: #0A0A0A !important;
      }
      
      .board.message .author {
        background: #0A0A0A !important;
        color: #FAFAFA !important;
      }
      
      body {
        background: #1C1C1C !important;
      }
      
      .wrapper{
        background: #1C1C1C !important;
      }
      
      #content {
        background: #1C1C1C !important;
        color: #FAFAFA !important;
      }
      
      tr:nth-child(2n+1) td {
       background: #1C1C1C !important;
        color: #FAFAFA !important;
      }
      
      html{
        background: #1C1C1C !important;
      }
      
      a, a:visited, a:hover, a:active, .tinynav a
      {
        color: #0973BF !important;
      }
      
      .board.topics span:not(.pglist) a {
        color: #0973BF !important;
      }
      
      .post_author a
      {
        color: #0973BF !important;
      }
      
      h1 a{
        color: #FAFAFA !important;
      }
      
      h1 a:hover{
        color: #FAFAFA !important;
      }
    }
