@-moz-document
  
url-prefix("https://mail.google.com/"),
url-prefix("http://mail.google.com/")
{
  #loading, #stb
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  .submit_as_link
  {
    color: #0973BF;
  }
  
  .aaZ, .aDh, .gU, .J-Z, .Xv
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  .vO, .vO:focus, .aoT, .nr
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }
  
  .gO, .az2 .J-JN-M-I-Jm, .gQ, .az9, .vT, .oL, .aJS .ao5, .aiv .aq, .J-N-JT .J-N-Jz, .J-N-JW .J-N-Jz, .anQ, .hx, .gD, .ha, .g6
  {
    color: #FAFAFA;
  }
  
  .hx .gH, .go
  {
    color: #CCCCCC;
  }
  
  .Sr, .iY .md, .iY .l6, .iY .l9, .iY .ma, .iY .l8, .iY .mb
  {
    color: #999999;
  }
 
  .aoP .Ar, .Am
  {
    background: #1C1C1C;
    color: #FAFAFA;
  }

  .KA.Kj-JD-Jh
  {
    background: #0A0A0A;
    color: #FAFAFA;
  }
  
  .aiv
  {
    background: #1C1C1C;
  }
  
  .ah .Jd-Je, .vN, .GW, .Bu, .IG, .GQ, .ads
  {
    background: #0A0A0A;
  }
  
  .aYe, .J-N-JT, .HM .iN
  {
    background: #0A0A0A !important;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
  }
  
  .J-Z-M-I-JW, .J-Z-I-JW, .J-Z-I, .J-Z-M-I, .J-Ks-KO, .T-I-ax7.T-I-JW, .g1, .ank, .anl, .mL, .ajR
  {
    filter: invert(100%);
    -webkit-filter: invert(100%;)
  }
  
  .J-Z-I-KO
  {
    background: #FAFAFA;
  }
  
  .J-N, .J-LC, .J-JK, .J-M
  {
    background: #161616;
    color: #FAFAFA;
  }
}